*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  background: none;
  border: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nosifer&display=swap');

@font-face {
  font-family: "font-1";
  src: url(./assets/Vanderick.ttf);
}

.App {
  text-align: center;
}

.navbar {
  border-radius: 0.1rem;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(74, 74, 74, 0.6), rgba(0, 0, 0, 0));
  position: fixed;
  z-index: 1;
}

.link {
  font-family: font-1;
  text-decoration: none;
  color: #f1f1ff;
}

.navlink {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background: transparent; */
}

.navform {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

input {
  color: #111;
  border: none;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 1px #111 ;
}

input[type=submit] {
  border: none;
  cursor: pointer;
}

/*~*BANNER STYLE*~*/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  font-size: 0.9rem;
  padding-bottom: 3rem;
  background-color: rgb(74, 74, 74);
  position: relative;
}

.banner-content {
  width: 60vw;
  padding: 8vh 4% 0 4%;
}

.banner-title {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 255);
}

.banner-buttons {
  display: flex;
}

.banner-description {
  color: rgba(255, 255, 255, 0.7);
}

.banner-button {
  border: none;
  color: #f1f1ff;
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  margin-right: 0.7rem;
  font-weight: 600;
  background-color: rgba(110, 110, 110, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

.banner-button-play {
  color: #111;
  /* background-color: rgba(255, 255, 255, 0.7); */
}

.banner::after {
  content: "";
  width: 100%;
  height: 3rem;
  display: block;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5), #111);
}


/*~*CARD STYLE*~*/
.result {
  display: flex;
  overflow-x: visible;
  overflow-y: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: font-1;
  /* text-transform: uppercase; */
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
  display: flex;
 
}


img {
  border-radius: 2rem;
  height: 400px;
}

.card {
  border-radius: 2rem;
  transition: transform 0.2s ease;
  margin: 4rem 0.4rem;
  box-shadow: 0 0 5px #f1f1ff;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #111;
}

.card:hover {
  transform: scale(1.1);
}

.favorite {
}

.serieClose{
  color: #000000;
  font-weight: bold;
  width: 2rem;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.979);
}


.serie{
  background-color: rgba(17, 17, 17, 0.726);
  position: fixed;
  margin: 0 2%;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  height: calc(100vh - 60px);
  top: 60px;
  overflow-y: scroll;
}
.open{
  display: block;
  overflow-y: hidden;
}
.light{
  background-color: rgba(57, 67, 99, 0.329);
  position: fixed;
  /* top: 20px; */
  left: 180px;
}

.archiv{
  position: fixed;
  margin-top: 20px;
}
