*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "font-1";
  src: url(./assets/Vanderick.ttf);
}
.App {
  text-align: center;
}
.navbar{
  border-radius: 0.1rem;
  width: 100%;
  height: 50px;
  box-shadow: 0 0  1px rgb(85, 26, 139);
  z-index: 1;
}
.link{
  font-family: font-1;
  text-decoration: none;
}
.navlink{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navform{
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 500px;
  height: 50px;
}
.logo{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

input {
  border: none;
  border-radius: 4px;
  padding: 2px;
  color: rgb(85, 26, 139);
  box-shadow: 0 0  1px rgb(85, 26, 139);

}


input[type=submit] {
  border: none;
  cursor: pointer;
}

                     /*~*BANNER STYLE*~*/

.banner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  font-size: 0.9rem;
  padding-bottom: 3rem;
  background-color: rgb(74, 74, 74);
  position: relative;
}
.banner-content{
  width: 60vw;
  padding: 8vh 4% 0 4%;
}
.banner-title{
  font-size: 1.5rem;
  color:  rgba(255, 255, 255, 255);
}
.banner-butons{
  display: flex;
}
.banner-description{
  color : rgba(255, 255, 255, 0.7)
}
.banner-button{
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  margin-right: 0.7rem;
  font-weight: 600;
  background-color: rgba(110, 110, 110, 0.7);
  border-radius: 5px;
}
.banner-button-play{
  background-color: rgba(255, 255, 255, 0.7);
}
.banner::after{
  content:"";
  width: 100%;
  height: 3rem;
  display: block;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180, rgba(31, 31, 31, rgba(31, 31, 31, 0.5), #111 ));
}

.favorite{

}



