
body {
  margin: 0;
  font-family:Lora, Nosifer;
  /* background-color: #f1f1ff; */
  background: #111;
  /* background:  rgb(85, 26, 139); */
  /* color:  rgb(85, 26, 139); */
  color:  #f1f1ff ;
}

